---

# -----------------------------------------------------------------------------
# File : /etc/grafana/provisioning/dashboards/dashboards.yml
# -----------------------------------------------------------------------------
apiVersion: 1

providers:
  - name: 'Node Exporter Full'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: false
    options:
      path: /etc/grafana/provisioning/dashboards

  - name: 'Prometheus Blackbox Exporter'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: false
    options:
      path: /etc/grafana/provisioning/dashboards
