[paths]

[server]
  protocol  = https
  cert_file = {{ ctlabs_grafana.defaults.config.server.cert }}
  cert_key  = {{ ctlabs_grafana.defaults.config.server.key  }}

[server.custom_response_headers]
[database]
[datasources]
[remote_cache]
[dataproxy]
[analytics]
[security]
[security.encryption]
[snapshots]
[dashboards]
[users]
[secretscan]
[service_accounts]
[auth]
[auth.anonymous]
[auth.github]
[auth.gitlab]
[auth.google]
[auth.grafana_com]
[auth.azuread]
[auth.okta]
[auth.generic_oauth]
[auth.basic]
[auth.proxy]
[auth.jwt]
[auth.ldap]
[aws]
[azure]
[rbac]

[smtp]
#  enabled      = true
#  host         = {{ ctlabs_grafana.defaults.config.smtp.host   }}
#  user         = {{ ctlabs_grafana.defaults.config.smtp.user   }}
#  password     = {{ ctlabs_grafana.defaults.config.smtp.pass   }}
#  skip_verify  = true
#  from_address = {{ ctlabs_grafana.defaults.config.smtp.from_addr }}
#  from_Name    = {{ ctlabs_grafana.defaults.config.smtp.from_name }}

[smtp.static_headers]
[emails]
[log]
[log.console]
[log.file]
[log.syslog]
[log.frontend]
[quota]
[unified_alerting]
[unified_alerting.reserved_labels]
[unified_alerting.state_history]
[unified_alerting.state_history.external_labels]
[unified_alerting.upgrade]
[alerting]
[annotations]
[annotations.dashboard]
[annotations.api]
[explore]
[help]
[profile]
[news]
[query]
[query_history]
[metrics]
[metrics.environment_info]
[metrics.graphite]
[grafana_com]
[tracing.jaeger]
[tracing.opentelemetry]
[tracing.opentelemetry.jaeger]
[tracing.opentelemetry.otlp]
[external_image_storage]
[external_image_storage.s3]
[external_image_storage.webdav]
[external_image_storage.gcs]
[external_image_storage.azure_blob]
[external_image_storage.local]
[rendering]
[panels]
[plugins]
[live]
[plugin.grafana-image-renderer]
[support_bundles]
[enterprise]
[feature_toggles]
[date_formats]
[expressions]
[geomap]
[navigation.app_sections]
[navigation.app_standalone_pages]
[secure_socks_datasource_proxy]
[feature_management]
[public_dashboards]
