---

# -----------------------------------------------------------------------------
# File : ctlabs-ansible/roles/ctlabs_grafana/templates/loki.yml.j2
# Desc : adding loki as datasource
# -----------------------------------------------------------------------------

apiVersion: 1

datasources:
  - name: Loki
    type: loki
    url : "{{ ctlabs_grafana_loki_url }}"
{% if ctlabs_grafana_mtls == true %}
    access: proxy
    jsonData:
      tlsAuth: true
      tlsAuthWithCACert: true
    secureJsonData:
      tlsClientCert: $__file{{"{" ~ ctlabs_grafana.defaults.config.server.tls.cert ~ "}"}}
      tlsClientKey : $__file{{"{" ~ ctlabs_grafana.defaults.config.server.tls.key  ~ "}"}}
      tlsCACert    : $__file{{"{" ~ ctlabs_grafana.defaults.config.server.tls.ca  ~ "}"}}
{% endif %}
