---

# -----------------------------------------------------------------------------
# File : ctlabs_grafana/templates/mimir.yml.j2
# Desc : adding loki as datasource
# -----------------------------------------------------------------------------

apiVersion: 1

datasources:
  - name: mimir
    type: prometheus
    url : "{{ ctlabs_grafana_mimir_url }}"

