---

# -----------------------------------------------------------------------------
# File : ctlabs-ansible/roles/ctlabs_grafana/templates/mimir.yml.j2
# Desc : adding loki as datasource
# -----------------------------------------------------------------------------

apiVersion: 1

datasources:
  - name: mimir
    type: prometheus
    url : "{{ ctlabs_grafana_mimir_url }}"
    access: proxy
    jsonData:
      tlsAuth: true
      tlsAuthWithCACert: true
      clientCertFile: {{ ctlabs_grafana.defaults.config.server.cert }}
      clientKeyFile : {{ ctlabs_grafana.defaults.config.server.key }}
      caCertFile    : {{ ctlabs_grafana.defaults.config.server.ca }}
