// ------------------------------------------------------------------------------
// File        : /etc/rundeck/jaas-loginmodule.conf
// Template    : ctlabs_rundeck/templates/jaas-loginmodule.conf.j2
// ------------------------------------------------------------------------------

RDpropertyfilelogin {
  org.eclipse.jetty.jaas.spi.PropertyFileLoginModule required
  debug="true"
  file="/etc/rundeck/realm.properties";
};
