# ------------------------------------------------------------------------------
# File        : /etc/rundeck/ssl/ssl.properties
# Template    : ctlabs_rundeck/templates/ssl.properties.j2
# ------------------------------------------------------------------------------

keystore={{ ctlabs_rundeck.defaults.config.certs.dir }}/{{ ctlabs_rundeck.defaults.config.certs.keystore }}
keystore.password={{ ctlabs_rundeck.defaults.config.certs.pass }}
key.password={{ ctlabs_rundeck.defaults.config.certs.pass }}
truststore={{ ctlabs_rundeck.defaults.config.certs.dir }}/{{ ctlabs_rundeck.defaults.config.certs.truststore }}
truststore.password={{ ctlabs_rundeck.defaults.config.certs.pass }}
