#!/bin/bash

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_fpm/templates/fpm.sh.j2
# Description : Template for ctlabs_fpm bash profile
# ------------------------------------------------------------------------------

