# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_opendkim/templates/opendkim.conf.j2
# Description : opendkim.conf template
# ------------------------------------------------------------------------------

PidFile /run/opendkim/opendkim.pid
Mode {{ ctlabs_opendkim.defaults.config.mode }}
Syslog yes
SyslogSuccess yes
LogWhy yes
UserID opendkim:opendkim
Socket {{ ctlabs_opendkim.defaults.config.socket }}
Umask 002
Canonicalization relaxed/simple

# Selector and KeyFile commented out as we use KeyTable
#Selector {{ ctlabs_opendkim_selector }}
#KeyFile {{ ctlabs_opendkim.defaults.key.dir }}/{{ ctlabs_opendkim_domain }}/{{ ctlabs_opendkim_selector }}.private

KeyTable {{ ctlabs_opendkim.defaults.config.key_table }}
SigningTable {{ ctlabs_opendkim.defaults.config.signing_table }}
ExternalIgnoreList {{ ctlabs_opendkim.defaults.config.trusted_hosts }}
InternalHosts {{ ctlabs_opendkim.defaults.config.trusted_hosts }}
