# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_opendkim/templates/SigningTable.j2
# Description : SigningTable template
# ------------------------------------------------------------------------------

*@{{ ctlabs_opendkim_domain }} {{ ctlabs_opendkim_selector }}._domainkey.{{ ctlabs_opendkim_domain }}
