# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_opendkim/templates/TrustedHosts.j2
# Description : TrustedHosts template
# ------------------------------------------------------------------------------

127.0.0.1
::1
