[defaults]
  pipelining            = true
  interpreter_python    = /usr/bin/python3

  stdout_callback       = default
  callbacks_enabled     = ansible.posix.profile_tasks

  inventory             = inventories/localhost
  host_key_checking     = false

  display_failed_stderr = false
  display_skipped_hosts = false
  forks                 = 10

  #interpreter_python    = auto_silent
  bin_ansible_callbacks  = true

  remote_tmp             = /tmp/.ansible-${USER}/tmp
  ansible_managed        = %Y-%m-%d %H:%M:%S via ansible by {uid} on {host}

[ssh_connection]
  ssh_args               = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

[privilege_escalation]
  ansible_ssh_pass    = ''
  ansible_become_pass = ''
