#{# /etc/openvpn/client/client.conf #}

dev          tun
persist-tun 

proto        udp
ifconfig     { ansible_local.ctlabs_openvpn.client_ip } { ansible_local.ctlabs_openvpn.server_ip }
remote       { ansible_local.ctlabs_openvpn.remote }

secret       ovpn.key
auth         SHA512
auth-nocache

cipher       AES-256-CBC
keepalive    10 60 
verb         3
