{# /etc/openvpn/server/server.conf #}

dev           tun
persist-tun

proto         udp
keepalive     10 60

ifconfig      10.8.15.1 10.8.15.2

cipher        AES-256-CBC
secret        ovpn.key
auth          SHA512
auth-nocache 

verb          3
