{# ------------------------------------------------------------------------- #}
{# File: ctlabs_prometheus/templates/10_blackbox_exporter.job.j2             #}
{# ------------------------------------------------------------------------- #}

{%- if ansible_local.ctlabs_prometheus.config.blackbox_exporter is defined %}
# -----------------------------------------------------------------------------
# job: blackbox_exporter
# -----------------------------------------------------------------------------
- job_name: blackbox_exporter
  scheme       : https
  metrics_path : /probe
  params       :
    module: [http_2xx]
  static_configs:
    - targets:
{%   for target in ctlabs_prometheus.defaults.config.blackbox_exporter.targets %}
      - {{ target }}
{%    endfor %}
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ ansible_nodename }}:{{ ctlabs_prometheus.defaults.config.blackbox_exporter.port }}
{%  endif -%}
