{# ------------------------------------------------------------------------- #}
{# File: ctlabs_prometheus/templates/10_goflow2.job.j2                       #}
{# ------------------------------------------------------------------------- #}

{%- if ansible_local.ctlabs_prometheus.config.goflow2 is defined %}
# -----------------------------------------------------------------------------
# job: goflow2
# -----------------------------------------------------------------------------
- job_name: goflow2
#  scheme: https
  static_configs:
    - targets:
{%   for target in ctlabs_prometheus.defaults.config.goflow2.targets %}
      - {{ target }}
{%    endfor %}
{%  endif -%}
