{# ------------------------------------------------------------------------- #}
{# File: ctlabs_prometheus/templates/10_node_exporter.job.j2                 #}
{# ------------------------------------------------------------------------- #}

{%- if ansible_local.ctlabs_prometheus.config.node_exporter is defined %}
# -----------------------------------------------------------------------------
# job: node_exporter
# -----------------------------------------------------------------------------
- job_name: node_exporter
  scheme: https
  static_configs:
    - targets:
{%   for target in groups['hosts'] %}
      - {{ target }}
{%    endfor %}
{%  endif -%}
