---

# -----------------------------------------------------------------------------
# File        : ctlabs_prometheus/templates/web-config.yml.j2
# Description : prometheus web server configuration
# -----------------------------------------------------------------------------

tls_server_config:
  cert_file: {{ ctlabs_prometheus.defaults.config.server.tls.crt }}
  key_file:  {{ ctlabs_prometheus.defaults.config.server.tls.key }}
