# -----------------------------------------------------------------------------
# File        : ctlabs_mimir/templates/mimir.conf.j2
# Description : mimir configuration
# -----------------------------------------------------------------------------

# Do not use this configuration in production.
# It is for demonstration purposes only.
multitenancy_enabled: false

blocks_storage:
  backend: filesystem
  bucket_store:
    sync_dir: /tmp/mimir/tsdb-sync
  filesystem:
    dir: /tmp/mimir/data/tsdb
  tsdb:
    dir: /tmp/mimir/tsdb

compactor:
  data_dir: /tmp/mimir/compactor
  sharding_ring:
    kvstore:
      store: memberlist

distributor:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist

ingester:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist
    replication_factor: 1

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/rules

server:
  http_listen_port: 9009
  log_level: error
  http_tls_config:
    cert_file: {{ ctlabs_mimir.defaults.config.server.tls.crt }}
    key_file : {{ ctlabs_mimir.defaults.config.server.tls.key }}

store_gateway:
  sharding_ring:
    replication_factor: 1

alertmanager:
  data_dir: /tmp/mimir/alertmanager
  fallback_config_file: {{ ctlabs_mimir.defaults.config.alertmanager.file }}
  sharding_ring:
    kvstore:
      store: memberlist

alertmanager_storage:
  local:
    path: /tmp/mimir/alertmanager/

#alerting:
#  alertmanagers:
#    - static_configs:
#        - targets:
#            - localhost:9093
#
#web:
#  basic_auth_users:
#    - username: admin
#      password: secret!234
#
#remote_write:
#  - url: "https://storage.googleapis.com/<your-bucket-name>"
#    write_relabel_configs:
#      - source_labels: [__name__]
#        regex: "(.*)"
#        target_label: "__name__"
#        replacement: "$1"
#    auth:
#      basic_auth:
#        username: "<service-account-username>"
#        password: "<service-account-key>"
#

