# -----------------------------------------------------------------------------
# {{ ansible_managed }} 
# File     : /etc/sysconfig/mimir
# Template : mimir.sysconfig.j2
# -----------------------------------------------------------------------------


# Log level. Valid levels: [debug, info, warn, error]. Default: "info"
LOG_LEVEL="info"

# Custom user defined arguments.
CUSTOM_ARGS="-target=all,alertmanager --config.file {{ ctlabs_mimir.defaults.config.cfgdir}}/{{ ctlabs_mimir.defaults.config.file }}"

# Restart on system upgrade. Default: "true".
RESTART_ON_UPGRADE="true"

