{#
 # File        : ctlabs-ansible/roles/ctlabs_bind/templates/facts.json.j2
 # Description : ctlabs_bind local facts template
#}
{% set _facts      = ctlabs_role_facts  | default({}) %}
{% set _role_facts = play_setup['bind'] | default({}) %}
{% set _type       = _facts.type  | default('master') %}
{% set _zones      = _facts.zones | default(_role_facts.zones | default([])) %}
{
  "role" : "server",
  "type" : "{{ _type }}"
{%-  if _zones %},
  "zones": {{ _zones | to_nice_json(indent=2) | indent(2) }}
{%-  endif %}
{%-  if _type == 'master' and _facts.slaves is defined %},
  "slaves": {{ _facts.slaves | to_json }}
{%-  endif %}
{%-  if _type == 'slave' and _facts.masters is defined %},
  "masters": {{ _facts.masters | to_json }}
{%  endif %}
}
