{# --------------------------------------------------------------------- #}
{# File: ctlabs-ansible/roles/ctlabs_bind/templates/master.named.conf.j2 #}
{# --------------------------------------------------------------------- #}

options {
  listen-on               port 53 { 127.0.0.1; {{ ansible_default_ipv4.address }}; };
  #listen-on-v6            port 53 { ::1; };

  directory               "{{ ctlabs_bind.defaults.config[os_family].dir            }}";
  dump-file               "{{ ctlabs_bind.defaults.config[os_family].dump_file      }}";
  statistics-file         "{{ ctlabs_bind.defaults.config[os_family].stats_file     }}";
  memstatistics-file      "{{ ctlabs_bind.defaults.config[os_family].memstats_file  }}";
  secroots-file           "{{ ctlabs_bind.defaults.config[os_family].secroots_file  }}";
  recursing-file          "{{ ctlabs_bind.defaults.config[os_family].recursing_file }}";

  allow-query             { {{ ctlabs_bind.defaults.config.allow_query|join('; ') }}; };
  allow-transfer          { {{ ansible_local.ctlabs_bind.slaves|join('; ') }}; };

  notify                  yes;
  recursion               {{ ctlabs_bind.defaults.config.recursive }};
  dnssec-validation       yes;

  managed-keys-directory  "{{ ctlabs_bind.defaults.config[os_family].keys_dir }}";
  geoip-directory         "/usr/share/GeoIP";
  pid-file                "/run/named/named.pid";
  session-keyfile         "/run/named/session.key";
{% if os_family == 'redhat' %}
  include                 "/etc/crypto-policies/back-ends/bind.config";
{% endif %}
};

logging {
  category default         { default_syslog; };
  category general         { default_syslog; };
  category security        { default_syslog; };
  category queries         { default_syslog; };
  category config          { default_syslog; };
  category network         { default_syslog; };
  category rate-limit      { default_syslog; };
  category xfer-in         { default_syslog; };
  category xfer-out        { default_syslog; };
  category notify          { default_syslog; };
  category update          { default_syslog; };
  category update-security { default_syslog; };
  category zoneload        { default_syslog; };
};


{% if os_family == 'redhat' %}
zone "." IN {
  type   hint;
  file   "named.ca";
};
include  "/etc/named.rfc1912.zones";
include  "/etc/named.root.key";
{% elif os_family == 'debian' %}
//include "/etc/bind/named.conf.default-zones";
{% endif %}

{% for zone in ansible_local.ctlabs_bind.zones %}
zone "{{ zone }}" IN {
  type   master;
  file   "{{ ctlabs_bind.defaults.config[os_family].zones_dir }}/{{ zone }}.db";
};
{%  endfor %}
