{# ---------------------------------------------------------------  #}
{# File: ctlabs-ansible/roles/ctlabs_bind/templates/zone_xxx.db.j2  #}
{# --------------------------------------------------------------- -#}

; /var/named/data/{{ zone }}/zone.db

$ORIGIN {{ zone }}.
$TTL    3600

{{ zone }}.   IN    SOA     ns1.{{ zone }}. root.{{ zone }}. (
                                    2024012601   ; serial
                                    3600         ; refresh
                                    600          ; retry
                                    86400        ; expire
                                    600          ; negative cache TTL
);

{#% set zone_data = vars['zone_' + zone.replace('.', '_')] #}
{% for record in zone_data -%}
{%   if record.type == 'COMMENT'  %}

; {{ record.value }}
{%   elif record.type == 'TXT' %}
{{ record.name.ljust(32) }}  IN  {{ record.type.ljust(6) }} {{ record.value | tojson }}
{%   else %}
{{ record.name.ljust(32) }}  IN  {{ record.type.ljust(6) }} {{ record.value }}
{%   endif %}
{% endfor -%}