{# --------------------------------------------------------------- #}
{# File: ctlabs-ansible/roles/ctlabs_bind/templates/zone_xxx.db.j2 #}
{# --------------------------------------------------------------- #}

; /var/named/data/{{ zone }}/zone.db

$ORIGIN {{ zone }}.
$TTL    3600

{{ zone }}.   IN    SOA     ns1.{{ zone }}. root.{{ zone }}. (
	                            2024012601   ; serial
	                            3600         ; refresh
	                            600          ; retry
	                            86400        ; expire
	                            600          ; negative cache TTL
);

; define name servers
@               IN    NS      ns1.{{ zone }}.
@               IN    NS      ns2.{{ zone }}.

; name servers need to have an A-record
ns1             IN    A       192.168.10.11
ns2             IN    A       192.168.20.11

; all other records
www             IN    A       192.168.10.12
www2            IN    CNAME   www.{{ zone }}.

some_secret_key IN    TXT     some_secret_value
