{# ---------------------------------------------------------------  #}
{# File: ctlabs-ansible/roles/ctlabs_bind/templates/zone_xxx.db.j2  #}
{# --------------------------------------------------------------- -#}

; /var/named/data/{{ zone.name }}/zone.db

$ORIGIN {{ zone.name }}.
$TTL    3600

{{ zone.name }}.   IN    SOA     ns1.{{ zone.name }}. root.{{ zone.name }}. (
                                  {{ uxtime[:10] }} ; serial
                                  3600         ; refresh
                                  600          ; retry
                                  86400        ; expire
                                  600          ; negative cache TTL
);

{#% set zone_data = vars['zone_' + zone.replace('.', '_')] #}
{% for record in zone_data -%}
{%   if record.type == 'COMMENT'  %}

; {{ record.value }}
{%   elif record.type == 'TXT' %}
{{ record.name.ljust(32) }}  IN  {{ record.type.ljust(6) }} {{ record.value | tojson }}
{%   else %}
{{ record.name.ljust(32) }}  IN  {{ record.type.ljust(6) }} {{ record.value }}
{%   endif %}
{% endfor -%}