# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_aide/templates/aide-update.service.j2
# Description : systemd unit to re-baseline the AIDE database (manual trigger)
# ------------------------------------------------------------------------------

[Unit]
Description=AIDE database update (re-baseline)
Documentation=man:aide(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart={{ ctlabs_aide.defaults.update.script }}

[Install]
WantedBy=multi-user.target
