# -----------------------------------------------------------------------------
# File : /etc/postfix/main.cf
# -----------------------------------------------------------------------------

myhostname               = {{ ansible_nodename }}
mydomain                 = {{ ansible_nodename.split('.')[1:] | join('.') }}
myorigin                 = $mydomain

inet_interfaces          = localhost
inet_protocols           = ipv4

relayhost                =
mydestination            = $myhostname, localhost.$mydomain, localhost, $mydomain, bcchost.$mydomain

mailbox_size_limit       = 0
home_mailbox             = mail/

recipient_canonical_maps = regexp:/etc/postfix/recipient_canonical
recipient_bcc_maps       = regexp:/etc/postfix/recipient_bcc
transport_maps           = hash:/etc/postfix/transport
