# /etc/postfix/recipient_bcc_maps
/([^ ]+)@((?![^ ]*(ctlabs\.internal))[^ ]*)/   ${1}_at_${2}@bcchost.ctlabs.internal
#/(.*)@((?!.*(ctlabs\.internal)).*)/           ${1}_at_${2}@bcchost.ctlabs.internal
