# -----------------------------------------------------------------------------
# File       : /etc/postfix/transport
# Description: create hashmap: postmap /etc/postfix/transport
# -----------------------------------------------------------------------------

bcchost.ctlabs.internal      archivemail:
{% if ctlabs_postfix_transport_google %}
gmail.com                    google:
googlemail.com               google:
{% endif %}
