# -----------------------------------------------------------------------------
# File       : /etc/postfix/transport
# Description: create hashmap: postmap /etc/postfix/transport
# -----------------------------------------------------------------------------

bcchost.ctlabs.internal      archivemail:
