# -----------------------------------------------------------------------------
# File       : /etc/postfix/virtual
# Description: create hashmap: postmap /etc/postfix/virtual
# -----------------------------------------------------------------------------

@bcchost.ctlabs.internal   root@bcchost.ctlabs.internal
