{#
 # File        : ctlabs-ansible/roles/ctlabs_minikube/templates/facts.json.j2
 # Description : ctlabs_minikube local facts template
#}
{% set _facts = ctlabs_role_facts | default({}) %}
{% set _comma = joiner(",") %}
{
{% if _facts.repos is defined %}{{ _comma() }}
  "repos" : {{ _facts.repos | to_json }}
{% endif %}
{% if _facts.charts is defined %}{{ _comma() }}
  "charts" : {{ _facts.charts | to_json }}
{% endif %}
}
