[Unit]
Description=Minikube
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple

User=minikube
Group=minikube
ExecStart={{ ctlabs_minikube.defaults.pkgs.minikube.path }} start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
