# ------------------------------------------------------------------------------
# File        : /etc/profile.d/minikube
# Description : profile file created by ctlabs_minikube ansible role
# ------------------------------------------------------------------------------

alias mkube=/usr/bin/minikube
alias kc=/usr/bin/kubectl
