# --------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_minikube/templates/minikube.sudo.conf
# Description : sudo rules
# --------------------------------------------------------------------------------

minikube ALL = (root) NOPASSWD:ALL
