[Unit]
Description=Minikube
After=network.target minikube-net.service
StartLimitIntervalSec=0
Requires=minikube-net.service

[Service]
Type=oneshot
RemainAfterExit=true

User=minikube
Group=minikube

ExecStart={{ ctlabs_minikube.defaults.pkgs.minikube.path }} start --network minikube
ExecStop={{ ctlabs_minikube.defaults.pkgs.minikube.path }} stop

[Install]
WantedBy=multi-user.target
