[Unit]
Description=Minikube
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=true

User=minikube
Group=minikube
ExecStart={{ ctlabs_minikube.defaults.pkgs.minikube.path }} start
ExecStop={{ ctlabs_minikube.defaults.pkgs.minikube.path }} stop

[Install]
WantedBy=multi-user.target
