# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_minikube/templates/minikube.sudoer.conf
# Description : main handler
# ------------------------------------------------------------------------------