# ------------------------------------------------------------------------------
# File        : /etc/samba/smb.conf
# Template    : ctlabs_ansible/roles/ctlabs_smbadc/templates/smb.conf.j2
# Description : samba ad-dc configuration
# ------------------------------------------------------------------------------

# Global parameters
[global]
        ldap server require strong auth = no
        dns forwarder                   = {{ ansible_dns.nameservers[0] }}
        netbios name                    = {{ ansible_hostname | upper }}
        realm                           = {{ ctlabs_smbadc_domain | upper }}
        workgroup                       = {{ ctlabs_smbadc_domain | split('.')[0] | upper }}
        server role                     = active directory domain controller
        idmap_ldb:use rfc2307           = yes

        interfaces                      = 127.0.0.1 {{ ansible_default_ipv4.address }}
        tls enabled                     = yes
        tls certfile                    = {{ ctlabs_smbadc.defaults.config.tls.dir }}/{{ ctlabs_smbadc.defaults.config.tls.crt }}
        tls keyfile                     = {{ ctlabs_smbadc.defaults.config.tls.dir }}/{{ ctlabs_smbadc.defaults.config.tls.prv }}
        tls cafile                      = {{ ctlabs_smbadc.defaults.config.tls.dir }}/{{ ctlabs_smbadc.defaults.config.tls.ca  }}
        tls priority                    = {{ ctlabs_smbadc.defaults.config.tls.proto }} 

[sysvol]
        path      = /var/lib/samba/sysvol
        read only = No

[netlogon]
        path      = /var/lib/samba/sysvol/ctlabs.local/scripts
        read only = No
