---

# ------------------------------------------------------------------------------
# File        : /etc/filebeat/filebeat.yml
# Template    : ctlabs_filebeat/templates/filebeat.yml.j2
# ------------------------------------------------------------------------------

filebeat.inputs:
- type    : log
  enabled : {{ ctlabs_filebeat.defaults.config.inputs.log.enabled }}
  paths   : {{ ctlabs_filebeat.defaults.config.inputs.log.paths   }}

- type    : filestream
  enabled : {{ ctlabs_filebeat.defaults.config.inputs.stream.enabled }}
  paths   : {{ ctlabs_filebeat.defaults.config.inputs.stream.paths   }}

filebeat.config.modules:
  path          : ${path.config}/modules.d/*.yml
  reload.enabled: true

setup.template.settings:
  index.number_of_shards: 1

setup.kibana:
  host: {{ ctlabs_filebeat.defaults.config.kba.url }}

output.elasticsearch:
  hosts   : {{ ctlabs_filebeat.defaults.config.es.hosts }}
  protocol: {{ ctlabs_filebeat.defaults.config.es.proto }}
  username: {{ ctlabs_filebeat.defaults.config.es.user  }}
  password: {{ ctlabs_filebeat.defaults.config.es.pass  }}
  #api_key: "id:api_key"

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
