---

{# ---------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_juicefs/templates/juice.conf.j2  #}
{# Description : juicefs config                                               #}
{# -------------------------------------------------------------------------- #}

storage: gcs
bucket : 
db     : sqlite3:///opt/juicefs/dbs/myjfs.db
