---

{# ---------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_juicefs/templates/juice.conf.j2  #}
{# Description : juicefs config                                               #}
{# -------------------------------------------------------------------------- #}

storage: {{ ctlabs_juicefs_storage }}
bucket : {{ ctlabs_juicefs_bucket  }}
db     : {{ ctlabs_juicefs_db      }} 
# sqlite3:///media/jfs/{{ ctlabs_juicefs_bucket }}.db
