#!/bin/bash

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_asciinema/templates/asciinema.sh.j2
# Description : Template for ctlabs_asciinema bash profile
# ------------------------------------------------------------------------------

function arec() {
  local castfile=${1:-/tmp/out.cast}
  local size=${4:-$(stty size| sed -r 's@^([0-9]+)\s+([0-9]+)@--rows \1 --cols \2@')}

  {{ ctlabs_asciinema.defaults.config.binary }} rec -i1 $size -c /bin/bash ${castfile}
}

alias aplay="{{ ctlabs_asciinema.defaults.config.binary }} play "
alias acat="{{ ctlabs_asciinema.defaults.config.binary }} cat "
