#!/bin/bash

# ------------------------------------------------------------------------------
# File        : ctlabs_asciinema/templates/asciinema.sh.j2
# Description : Template for ctlabs_asciinema bash profile
# ------------------------------------------------------------------------------

function arec() {
	local castfile=${1:-/tmp/out.cast}

	{{ ctlabs_asciinema.defaults.config.binary }} rec -i1 -c /bin/bash ${castfile}
}

alias aplay="{{ ctlabs_asciinema.defaults.config.binary }} play "
alias acat="{{ ctlabs_asciinema.defaults.config.binary }} cat "
