#!/bin/bash

# ------------------------------------------------------------------------------
# File        : roles/ctlabs_asciinema/templates/ctlabs_asciinema.sh.j2
# Description : Template for ctlabs_asciinema aliases
# ------------------------------------------------------------------------------

{% for alias, command in ctlabs_asciinema.defaults.aliases.items() %}
alias {{ alias }}="{{ command }}"
{% endfor %}