---

# ------------------------------------------------------------------------------
# File        : ctlabs_atlantis/templates/atlantis.yml.j2
# Description : atlantis configuration file
# ------------------------------------------------------------------------------

#
# gitea
#
gitea-user     : ctlabs
gitea-token    : 27da3ef97998e2f8769c71914a78a7e7c9c5739e
gitea-base-url : http://git1.ctlabs.internal:3000
repo-allowlist : git1.ctlabs.internal/ctlabs/labs
automerge      : true
