---

# ------------------------------------------------------------------------------
# File        : ctlabs_atlantis/templates/atlantis.yml.j2
# Description : atlantis configuration file
# ------------------------------------------------------------------------------

#
# gitea
#
gitea-user     : atlantis
gitea-token    : {{ ctlabs_gitea_atlantis_token }}
gitea-base-url : https://git1.ctlabs.internal:3000
repo-allowlist : git1.ctlabs.internal/ctlabs/labs
automerge      : true
ssl-cert-file  : /etc/ca-ctlabs/{{ ansible_nodename }}.crt
ssl-key-file   : /etc/ca-ctlabs/{{ ansible_nodename }}.prv

web-basic-auth : true
web-username   : ctlabs
web-password   : secret123!
