{
  "sqlite": {
    "host": "{{ ctlabs_semaphore.defaults.config.db.dir }}/{{ ctlabs_semaphore.defaults.config.db.file }}"
  },
  "dialect": "sqlite",
  "cookie_hash": "VKtG32Cl0w0X3VE55/q2VypfamyftMKWLXo+Ya4n84g=",
  "cookie_encryption": "Mb3nN/AtmmkKRZ2tEcbBIPlZYeAGKpC/hj2NoaZpgwk=",
  "access_key_encryption": "COMtCqJvuHzBk8dNsmR9Lmbk8SWUgN9J+R3YL96BcJI=",
  "port": "{{ ctlabs_semaphore.defaults.config.port }}",
  "interface": "", 
  "tmp_path": "/tmp/semaphore/playbooks",
  "tls": {
      "enabled": true,
      "cert_file": "{{ ctlabs_semaphore.defaults.config.ssl.dir }}/{{ ansible_nodename }}.crt",
      "key_file": "{{ ctlabs_semaphore.defaults.config.ssl.dir }}/{{ ansible_nodename }}.prv"
  },
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "email_username": "",
  "email_password": "",
  "web_host": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",                                                                                                                                                                              
    "uid": "",                                                                                                                                                                               
    "cn": ""                                                                                                                                                                                 
  },
  "telegram_chat": "", 
  "telegram_token": "",
  "slack_url": "", 
  "max_parallel_tasks": 0,
  "email_alert": false, 
  "email_secure": false,
  "telegram_alert": false, 
  "slack_alert": false,
  "ldap_enable": false, 
  "ldap_needtls": false,
  "ssh_config_path": "", 
  "demo_mode": false,
  "git_client": ""
}
