{
  "mysql": {
    "host": "",                                                                                                                                                                              
    "user": "",                                                                                                                                                                              
    "pass": "",                                                                                                                                                                              
    "name": "",                                                                                                                                                                              
    "options": null                                                                                                                                                                          
  },
  "bolt": {
    "host": "/root/semaphore.boltdb",
    "user": "",                                                                                                                                                                              
    "pass": "",                                                                                                                                                                              
    "name": "",                                                                                                                                                                              
    "options": null                                                                                                                                                                          
  },
  "postgres": {
    "host": "",
    "user": "",                                                                                                                                                                              
    "pass": "",                                                                                                                                                                              
    "name": "",                                                                                                                                                                              
    "options": null                                                                                                                                                                          
  },
  "dialect": "bolt", 
  "port": "",
  "interface": "", 
  "tmp_path": "/tmp/semaphore/playbooks",
  "cookie_hash": "6NHv3DCAoBODRg4IHqtW7hzZAx+m120dSn3m2H6114Y=",
  "cookie_encryption": "BwRF5rJ4r5wXnRdUNhbFM1LNI9X8LZKZORyidPYvuxk=",
  "access_key_encryption": "iaDkpFAUbuhG66YnE1ekCIIEnTXwVzyunZ9k3gIcRUw=",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "email_username": "",
  "email_password": "",
  "web_host": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",                                                                                                                                                                              
    "uid": "",                                                                                                                                                                               
    "cn": ""                                                                                                                                                                                 
  },
  "telegram_chat": "", 
  "telegram_token": "",
  "slack_url": "", 
  "max_parallel_tasks": 0,
  "email_alert": false, 
  "email_secure": false,
  "telegram_alert": false, 
  "slack_alert": false,
  "ldap_enable": false, 
  "ldap_needtls": false,
  "ssh_config_path": "", 
  "demo_mode": false,
  "git_client": ""
}
