[Unit]
Description= Semaphore Server
Documentation= https://github.com/ansible-semaphore/semaphore
Wants=network-online.target
After=network-online.target

[Service]
#Type=simple
#ExecReload=/bin/kill -HUP $MAINPID
User={{ ctlabs_semaphore.defaults.service.user }}
Group={{ ctlabs_semaphore.defaults.service.group }}
ExecStart={{ ctlabs_semaphore.defaults.config.bin }} service --config={{ ctlabs_semaphore.defaults.config.file }}
Restart=on-failure
SyslogIdentifier=semaphore

[Install]
WantedBy=multi-user.target
