{# -------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_redis/templates/redis.conf.j2  #}
{# Description : client access                                              #}
{# ------------------------------------------------------------------------ #}
