# -----------------------------------------------------------------------------
# File: /etc/profile.d/ctlabs_k8s.sh
# -----------------------------------------------------------------------------

export KUBECONFIG=/etc/kubernetes/admin.conf

alias kc=/usr/bin/kubectl
