---

# ------------------------------------------------------------------------------
# File        : /etc/kubernetes/kube-vip.yml
# Template    : ctlabs_k8s/templates/kube-vip.yml.j2
# ------------------------------------------------------------------------------
