---

# ------------------------------------------------------------------------------
# File        : /etc/kubernetes/kubeadm-join.yml
# Template    : ctlabs_k8s/templates/kubeadm-join.yml.j2
# ------------------------------------------------------------------------------
