#!/bin/bash

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_k8s/templates/k8s-ver.j2
# Description : 
# ------------------------------------------------------------------------------

export K8SV="{{ ctlabs_k8s.defaults.cluster.k8s.version }}"
export calico_url="{{ ctlabs_k8s.defaults.cluster.calico.url }}"
export metrics_url="{{ ctlabs_k8s.defaults.cluster.metrics_server.url }}"
export prometheus_url="{{ ctlabs_k8s.defaults.cluster.prometheus.url }}"
