{#
 # File        : ctlabs-ansible/roles/ctlabs_alloy/templates/facts.json.j2
 # Description : ctlabs_alloy local facts template
#}
{% set _facts = ctlabs_role_facts | default({}) %}
{
  "loki" : {
    "url" : "{{ (_facts.loki.url | default({})).url | default(ctlabs_alloy.defaults.config.loki_url) }}"
  },
  "mtls" : {{ _facts.mtls | default(ctlabs_alloy.defaults.config.tls.mtls) | lower }}
}
