{# ----------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_postgresql/templates/gai.conf.j2  #}
{# Description : client access                                                 #}
{# --------------------------------------------------------------------------- #}

precedence ::ffff:0:0/96  100