# -----------------------------------------------------------------------------
# ctlabs acls
# -----------------------------------------------------------------------------

path "secret/*" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

path "kv/*" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

# -----------------------------------------------------------------------------
# Authentication Methods
# -----------------------------------------------------------------------------
path "auth/*" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}


# -----------------------------------------------------------------------------
# sys
# -----------------------------------------------------------------------------
path "sys/policies/acl/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "sys/mounts/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "sys/seal-status" {
  capabilities = ["read"]
}

path "sys/rekey" {
  capabilities = ["create", "read", "update", "delete", "sudo"]
}

path "sys/auth" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

# -----------------------------------------------------------------------------
# WIF-GCP Setup
# -----------------------------------------------------------------------------
path "identity/oidc/config" {
  capabilities = ["read", "update"]
}

path "identity/oidc/key/*" {
  capabilities = ["create", "read", "update", "delete"]
}

path "identity/oidc/role/*" {
  capabilities = ["create", "read", "update", "delete"]
}

# -----------------------------------------------------------------------------
# WIF-GCP UserToken
# -----------------------------------------------------------------------------
path "identity/oidc/token/*" {
  capabilities = ["read"]
}
