{# ------------------------------------------------------------------------ #}
{# File        : ctlabs-ansible/roles/ctlabs_vault/templates/vault.hcl.j2   #}
{# Description : client access                                              #}
{# ------------------------------------------------------------------------ #}

ui = {{ ctlabs_vault.defaults.config.server.gui | lower }}

api_addr = "https://{{ ansible_default_ipv4.address }}:{{ ctlabs_vault.defaults.config.server.port }}"

storage "file" {
  path = "{{ ctlabs_vault.defaults.config.server.data }}"
}

listener "tcp" {
  address       = "{{ ansible_default_ipv4.address }}:{{ ctlabs_vault.defaults.config.server.port }}"
  tls_cert_file = "{{ ctlabs_vault.defaults.config.server.cert }}"
  tls_key_file  = "{{ ctlabs_vault.defaults.config.server.key  }}"
}
