{#
 # File        : ctlabs-ansible/roles/ctlabs_k3s/templates/facts.json.j2
 # Description : ctlabs_k3s local facts template
#}
{% set _facts = ctlabs_role_facts | default({}) %}
{
  "plane"      : "{{ _facts.plane      | default('control') }}"
  "role"       : "{{ _facts.role       | default('server') }}",
  "server_url" : "{{ _facts.server_url | default('https://' + CTLABS_HOST + ':6443') }}"
{% if _facts.server_node is defined %},
  "server_node" : "{{ _facts.server_node }}"
{% endif %}
{% if _facts.ingress is defined %},
  "ingress" : {
    "type"     : "{{ _facts.ingress.type     | default('traefik') }}"
{% if _facts.ingress.provider is defined %},
    "provider" : "{{ _facts.ingress.provider }}"
{% endif %}
  }
{% endif %}
{% if _facts.argocd is defined %},
  "argocd" : {
    "host" : "{{ _facts.argocd.host | default('argocd.' + CTLABS_DOMAIN) }}"
  }
{% endif %}
}
