[Unit]
Description=k3s server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple

User=root
{% if ctlabs_k3s_ingress == "traefik" %}
ExecStart={{ ctlabs_k3s.defaults.pkgs.k3s.path }} server --cluster-init
{%  elif ctlabs_k3s_ingress == "nginx" %}
ExecStart={{ ctlabs_k3s.defaults.pkgs.k3s.path }} server --cluster-init --disable=traefik
{% endif %}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
