# ------------------------------------------------------------------------------
# File        : /etc/default/goflow2
# Description : goflow default arguments
# ------------------------------------------------------------------------------
GOFLOW2_ARGS={{ ctlabs_goflow2.defaults.service.args }}
