{# --------------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_netbox/templates/configuration.py.j2  #}
{# Description : client access                                                     #}
{# ------------------------------------------------------------------------------- #}

