# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_netbox/templates/netbox.conf
# Description : netbox httpd configurations
# ------------------------------------------------------------------------------

Alias /static /opt/netbox/netbox/static
<Directory /opt/netbox/netbox/static>
  Options Indexes FollowSymLinks MultiViews
  AllowOverride None
  Require all granted
</Directory>

<Location /static>
  ProxyPass !
</Location>

RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
ProxyPass        / http://127.0.0.1:8080/
ProxyPassReverse / http://127.0.0.1:8080/
