[Unit]
Description=Netbox Development Server
After=network.target

[Service]
KillMode=process
Type=forking
NotifyAccess=all
ExecStart=-/bin/sh -c '/usr/bin/netbox start'
ExecStop=-/bin/sh -c '/usr/bin/netbox stop'
TimeoutSec=300

[Install]
WantedBy=multi-user.target

