{# ---------------------------------------------------------------------------#}
{# File        : ctlabs-ansible/roles/ctlabs_meilisearch/templates/          #}
{#               meilisearch.env.j2                                          #}
{# Description : meilisearch environment variables                           #}
{# ------------------------------------------------------------------------- #}

MEILI_MASTER_KEY={{ ctlabs_meilisearch.defaults.config.key }}
MEILI_HTTP_ADDR={{ ctlabs_meilisearch.defaults.config.addr }}
MEILI_DB_PATH={{ ctlabs_meilisearch.defaults.config.db_path }}
MEILI_SCHEDULE_SNAPSHOT={{ ctlabs_meilisearch.defaults.config.snapshot_interval }}
MEILI_NO_ANALYTICS=true
