{
  "agents": {
    "defaults": {
      "workspace": "{{ ctlabs_openclaw.defaults.config.dir }}/workspace",
      "models": {
        "mistral/mistral-large-latest": {
          "alias": "Mistral"
        },
        "openrouter/auto": {
          "alias": "OpenRouter"
        },
        "openrouter/free": {},
        "openrouter/google/gemma-4-31b-it:free": {},
        "openrouter/qwen/qwen3-coder:free": {},
        "openrouter/x-ai/grok-4.20": {}
      },
      "model": {
        "primary": "openrouter/auto",
        "fallbacks": [
          "mistral/mistral-large-latest",
          "openrouter/free",
          "openrouter/google/gemma-4-31b-it:free",
          "openrouter/qwen/qwen3-coder:free",
          "openrouter/x-ai/grok-4.20"
        ]
      }
    }
  },
  "gateway": {
    "mode": "local",
    "tls": {
      "enabled": true,
      "autoGenerate": false,
      "certPath": "{{ ctlabs_openclaw.defaults.certs.dir }}/{{ ctlabs_openclaw.defaults.certs.crt }}",
      "keyPath": "{{ctlabs_openclaw.defaults.certs.dir }}/{{ ctlabs_openclaw.defaults.certs.key }}",
      "caPath": "{{ ctlabs_openclaw.defaults.certs.dir }}/{{  ctlabs_openclaw.defaults.certs.ca }}"
    },
    "controlUi": {
      "allowedOrigins": [
        "*"
      ],
      "allowInsecureAuth": false
    },
    "port": 18789,
    "bind": "custom",
    "customBindHost": "{{ ctg_ipv4.address }}",
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    }
  },
  "meta": {
    "lastTouchedVersion": "2026.4.10",
    "lastTouchedAt": "2026-04-11T14:53:19.981Z"
  },
  "session": {
    "dmScope": "per-channel-peer"
  },
  "tools": {
    "profile": "coding",
    "web": {
      "search": {
        "provider": "ollama",
        "enabled": true
      }
    }
  },
  "models": {
    "mode": "merge",
    "providers": {
      "mistral": {
        "baseUrl": "https://api.mistral.ai/v1",
        "api": "openai-completions",
        "models": [
          {
            "id": "mistral-large-latest",
            "name": "Mistral Large (latest)",
            "reasoning": false,
            "input": [
              "text",
              "image"
            ],
            "cost": {
              "input": 0.5,
              "output": 1.5,
              "cacheRead": 0,
              "cacheWrite": 0
            },
            "contextWindow": 262144,
            "maxTokens": 16384
          }
        ]
      }
    }
  },
  "auth": {
    "profiles": {
      "mistral:default": {
        "provider": "mistral",
        "mode": "api_key"
      }
    }
  },
  "plugins": {
    "entries": {
      "ollama": {
        "enabled": true
      },
      "mistral": {
        "enabled": true
      }
    }
  },
  "wizard": {
    "lastRunAt": "2026-04-11T14:53:11.437Z",
    "lastRunVersion": "2026.4.10",
    "lastRunCommand": "onboard",
    "lastRunMode": "local"
  }
}