[Unit]
Description=OpenClaw Gateway
After=network-online.target
Wants=network-online.target

[Service]
User={{ ctlabs_openclaw.defaults.service.user }}
Group={{ ctlabs_openclaw.defaults.service.group }}
ExecStart=/usr/bin/openclaw gateway --allow-unconfigured 

Restart=always
RestartSec=5
TimeoutStopSec=30
TimeoutStartSec=30
SuccessExitStatus=0 143
KillMode=control-group

[Install]
WantedBy=default.target
