# -----------------------------------------------------------------------------
# File       : /etc/nginx/conf.d/nginx.d/piler.conf
# Description : nginx vhost for piler web UI
# -----------------------------------------------------------------------------

server {
  listen 80;
  server_name piler.{{ ansible_nodename.split('.')[1:] | join('.') }};
  root /usr/share/piler/webui;
  index index.php;

  access_log /var/log/nginx/piler_access.log;
  error_log  /var/log/nginx/piler_error.log;

  location / {
    try_files $uri $uri/ /index.php;
  }

  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass unix:/run/php/php-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }

  location ~ /\.ht {
    deny all;
  }
}
