{
  "ui": {
    "theme": "Dracula",
    "autoThemeSwitching": false,
    "footer": {
      "hideSandboxStatus": false
    },
    "showMemoryUsage": false,
    "terminalBuffer": true
  },
  "general": {
    "vimMode": true,
    "preferredEditor": "vim"
  }
}