# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_wazuh/templates/wazuh-dashboard.yml.j2
# Description : /etc/wazuh-dashboard/opensearch_dashboards.yml template
# ------------------------------------------------------------------------------

server.host: {{ ctlabs_wazuh_dashboard_host | default(ctlabs_wazuh.defaults.config.dashboard.host) }}
server.port: {{ ctlabs_wazuh.defaults.config.dashboard.port }}

opensearch.hosts:
  - https://{{ ctlabs_wazuh_indexer_http_host | default(ansible_default_ipv4.address) }}:{{ ctlabs_wazuh.defaults.config.indexer.ports.http }}

opensearch.ssl.verificationMode: certificate
opensearch.ssl.certificateAuthorities:
  - /etc/ca-ctlabs/ca-ctlabs.crt
opensearch.ssl.certificate: /etc/ca-ctlabs/{{ ansible_hostname }}.{{ ctlabs_wazuh.defaults.config.ca.domain }}.crt
opensearch.ssl.key: /etc/ca-ctlabs/{{ ansible_hostname }}.{{ ctlabs_wazuh.defaults.config.ca.domain }}.prv

opensearch.username: kibanaserver
opensearch.password: kibanaserver

server.ssl.enabled: true
server.ssl.certificate: /etc/ca-ctlabs/{{ ansible_hostname }}.{{ ctlabs_wazuh.defaults.config.ca.domain }}.crt
server.ssl.key: /etc/ca-ctlabs/{{ ansible_hostname }}.{{ ctlabs_wazuh.defaults.config.ca.domain }}.prv

opensearch.requestHeadersAllowlist: ["securitytenant","Authorization"]

opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: ["Private", "Global"]
opensearch_security.readonly_mode.roles: ["kibana_read_only"]

uiSettings.overrides.defaultRoute: /app/wz-home
