apiVersion: v1
kind: Secret
metadata:
  name: {{ chart['gateway']['tls_secret'] | default(ctlabs_helm.defaults.gateway.tls_secret) }}
  namespace: {{ chart['namespace'] }}
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('file', '/etc/ca-ctlabs/' + ansible_nodename + '.crt') | b64encode }}
  tls.key: {{ lookup('file', '/etc/ca-ctlabs/' + ansible_nodename + '.key') | b64encode }}
