#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    ca-base     /etc/ssl/certs/
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          5s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend ldap 
    bind             127.0.0.1:635
    default_backend  ad
    mode             tcp

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend ad
    balance     roundrobin
    server  dc01 dc01.ctlabs.local:636 check fall 1 rise 1 ssl verify none
    server  dc02 dc02.ctlabs.local:636 check fall 1 rise 1 ssl verify none
