# -----------------------------------------------------------------------------
# File       : /usr/local/etc/dkimpy-milter/dkimpy-milter.conf
# Description: dkimpy-milter configuration
# -----------------------------------------------------------------------------

Domain                  *
Selector                {{ ctlabs_dkim_selector }}
Socket                  {{ ctlabs_dkim_socket }}
KeyFile                 {{ ctlabs_dkim.defaults['keys']['dir'] }}/{{ ctlabs_dkim_selector }}.key
Canonicalization        relaxed/simple
OversignHeaders         From
UserID                  dkimpy-milter
