### Schema includes ###########################################################
include                 /etc/ldap/schema/core.schema
include                 /etc/ldap/schema/cosine.schema
include                 /etc/ldap/schema/inetorgperson.schema
include                 /etc/ldap/schema/misc.schema
include                 /etc/ldap/schema/nis.schema
#include                 /etc/ldap/schema/ad.schema

## Module paths ##############################################################
modulepath              /usr/lib/ldap/
moduleload              back_ldap
moduleload              rwm

# Main settings ###############################################################
pidfile                 /var/run/ldap/slapd.pid
argsfile                /var/run/ldap/slapd.args
#TLSCACertificateFile    /etc/ldap/certs/ca.ctlabs.local.crt
#TLSCertificateFile      /etc/ldap/certs/ctlabs.local.crt
#TLSCertificateKeyFile   /etc/ldap/certs/ctlabs.local.key
TLSVerifyClient         never
sizelimit               10000

### Database definition (Proxy to AD) #########################################
database        ldap
suffix          "DC=ctlabs,DC=local"
uri             ldap://127.0.0.1:635
#uri             ldaps://192.168.10.11
rebind-as-user
idassert-bind   bindmethod=simple
                binddn=cn=openldapro,ou=users,dc=ctlabs,dc=local
                credentials="secret123!"
                mode=none
                starttls=no
                tls_cacertdir=/etc/pki/tls/certs
                tls_reqcert=never
idassert-authzFrom "*"
overlay                 rwm
rwm-map                 attribute       uid             sAMAccountName
rwm-map                 objectClass     posixAccount    person
#rwm-map                 attribute       homeDirectory   unixHomeDirectory
#rwm-map                 objectClass     posixGroup      group

### Logging ###################################################################
logfile                 /var/log/slapd/slapd.log
loglevel                256