# -----------------------------------------------------------------------------
# Global Configuration
# -----------------------------------------------------------------------------
pidfile                 {{ ctlabs_slapd.defaults.config[os_family].run_dir }}/slapd.pid
argsfile                {{ ctlabs_slapd.defaults.config[os_family].run_dir }}/slapd.args

TLSCACertificateFile    {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.ca  }}
TLSCertificateFile      {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.crt }}
TLSCertificateKeyFile   {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.prv }}
#TLSVerifyClient         never

sizelimit               10000
logfile                 {{ ctlabs_slapd.defaults.config[os_family].log_dir }}/slapd.log
loglevel                256

access                  to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * none

# -----------------------------------------------------------------------------
# Schemas
# -----------------------------------------------------------------------------
include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/core.schema
include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/cosine.schema
include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/inetorgperson.schema
include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/misc.schema
include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/nis.schema
#include                 {{ ctlabs_slapd.defaults.config[os_family].dir }}/schema/ad.schema

# -----------------------------------------------------------------------------
# Modules
# -----------------------------------------------------------------------------
modulepath              {{ ctlabs_slapd.defaults.config[os_family].lib_dir }}
moduleload              back_ldap
moduleload              back_monitor
moduleload              rwm

# -----------------------------------------------------------------------------
# Databases
# -----------------------------------------------------------------------------
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
{% if ctlabs_slapd_dbs is defined %}
{%   for db in ctlabs_slapd_dbs %}
{%     if db.type == 'ldap' %}
database                 {{ db.type }}
suffix                   "{{ db.suffix }}"
uri                      "{{ db.uri    }}"
norefs                   yes
rebind-as-user           yes
idassert-bind            bindmethod={{ db.bind_method }}
                         binddn={{ db.bind_user }}
                         credentials={{ db.bind_pass }}
                         mode=none

idassert-authzFrom       "*"
access                   to dn.children={{ db.suffix }} by * read                         

overlay                  rwm
#rwm-map                  attribute       uid             sAMAccountName
rwm-map                  objectClass     posixAccount    person
#rwm-map                 attribute       homeDirectory   unixHomeDirectory
#rwm-map                 objectClass     posixGroup      group
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
{%     endif %}
{%   endfor %}
{% endif %}

# -----------------------------------------------------------------------------
# Monitoring
# -----------------------------------------------------------------------------
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
database                 monitor
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~

# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
# -----------------------------------------------------------------------------
# Config (use olc-style config with static slapd.conf)
# -----------------------------------------------------------------------------
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
database                 config
access                   to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
# ~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~_~
