# -----------------------------------------------------------------------------
# Global Configuration
# -----------------------------------------------------------------------------
pidfile                 /var/run/ldap/slapd.pid
argsfile                /var/run/ldap/slapd.args

TLSCACertificateFile    {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.ca  }}
TLSCertificateFile      {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.crt }}
TLSCertificateKeyFile   {{ ctlabs_slapd.defaults.config.tls.dir }}/{{ ctlabs_slapd.defaults.config.tls.prv }}
#TLSVerifyClient         never

sizelimit               10000
logfile                 /var/log/slapd/slapd.log
loglevel                256

# -----------------------------------------------------------------------------
# Schemas
# -----------------------------------------------------------------------------
include                 /etc/ldap/schema/core.schema
include                 /etc/ldap/schema/cosine.schema
include                 /etc/ldap/schema/inetorgperson.schema
include                 /etc/ldap/schema/misc.schema
include                 /etc/ldap/schema/nis.schema
#include                 /etc/ldap/schema/ad.schema

# -----------------------------------------------------------------------------
# Modules
# -----------------------------------------------------------------------------
modulepath              /usr/lib/ldap/
moduleload              back_ldap
moduleload              rwm

# -----------------------------------------------------------------------------
# Databases
# -----------------------------------------------------------------------------
database                 ldap
suffix                   "{{ ctlabs_slapd.defaults.config.dbs.ldap.suffix }}"
uri                      "{{ ctlabs_slapd.defaults.config.dbs.ldap.uri }}"
norefs                   yes
rebind-as-user           yes
idassert-bind            bindmethod={{ ctlabs_slapd.defaults.config.dbs.ldap.bind.method }}
                         binddn={{ ctlabs_slapd.defaults.config.dbs.ldap.bind.user }}
                         credentials={{ ctlabs_slapd.defaults.config.dbs.ldap.bind.pass }}
                         mode=none
                         tls_cacert=/etc/ssl/certs/ca-certificates.crt
idassert-authzFrom       "*"

# -----------------------------------------------------------------------------
# Overlays
# -----------------------------------------------------------------------------
overlay                  rwm
rwm-map                  attribute       uid             sAMAccountName
rwm-map                  objectClass     posixAccount    person
#rwm-map                 attribute       homeDirectory   unixHomeDirectory
#rwm-map                 objectClass     posixGroup      group

