KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="STRONG_INTER_BROKER_PASSWORD"
    user_admin="STRONG_INTER_BROKER_PASSWORD"
    user_ctlabs="secret123!";
};