[Unit]
Description=Kafka zookeeper service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=kafka
Group=kafka
#PIDFile=/var/tmp/kafka.pid
WorkingDirectory={{ ctlabs_kafka.defaults.install.root_dir }}

ExecStart={{ ctlabs_kafka.defaults.install.root_dir }}/bin/zookeeper-server-start.sh {{ ctlabs_kafka.defaults.install.root_dir }}/config/zookeeper.properties

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
