# -----------------------------------------------------------------------------
# File : /etc/sudoers.d/01_jupyter
# -----------------------------------------------------------------------------

jupyter ALL = (ALL:ALL) NOPASSWD:ALL
