[Unit]
  Description= Jupyter Lab Server
  Documentation= https://jupyterlab.readthedocs.io/
  After= network-online.target

[Service]
  User={{ ctlabs_jupyter.defaults.service.user }}
  Group={{ ctlabs_jupyter.defaults.service.group }}
  Restart=on-failure
  ExecStart={{ ctlabs_jupyter.defaults.config.bin }} lab --ip {{ ansible_default_ipv4.address }} --no-browser --notebook-dir {{ ctlabs_jupyter.defaults.config.workdir }} --certfile {{ ctlabs_jupyter.defaults.config.cert }} --keyfile  {{ ctlabs_jupyter.defaults.config.key  }}

[Install]
  WantedBy=multi-user.target
