# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_jupyter/templates/jupyter.sh.j2
# Description : aliases and functions used by ctlabs_jupyter
# ------------------------------------------------------------------------------

alias tf=/usr/bin/terraform
alias gconf="/usr/bin/gcloud config"
