{# ---------------------------------------------------------------  #}
{# File: ctlabs-ansible/roles/ctlabs_frr/templates/frr.j2           #}
{# --------------------------------------------------------------- -#}

frr version 10.0
frr defaults {{ ctlabs_frr_daemons_profile }}
hostname {{ ansible_fqdn }}
log syslog informational
no ipv6 forwarding
{# BGP -#}
{% if ansible_local.router.bgp exists %}
!
router bgp {{ ansible_local.router.bgp.local_asn }}
 bgp router-id {{ ansible_local.router.bgp.local_ip}}
 neighbor {{ ansible_local.router.bgp.remote_ip }} remote-as {{ ansible_local.router.bgp.remote_asn }}
 !
 {%   if ansible_local.router.bpg.nets exist %}
 address-family ipv4 unicast
 {%     for net in ansible_local.router.bgp.nets %}
 network {{ net }}
{%      endfor %}
{%    endif %}
 exit-address-family
{% endif %}
exit
!