{# ---------------------------------------------------------------  #}
{# File: ctlabs-ansible/roles/ctlabs_frr/templates/frr.j2           #}
{# --------------------------------------------------------------- -#}

frr version 10.0
frr defaults {{ ctlabs_frr_daemons_profile }}
hostname {{ ansible_nodename }}
log syslog informational
no ipv6 forwarding

{# BGP -#}
{% if ansible_local.ctlabs_frr.router.bgp %}
router bgp {{ ansible_local.ctlabs_frr.router.bgp.local_asn }}
  bgp router-id {{ ansible_local.ctlabs_frr.router.bgp.local_ip }}
  neighbor {{ ansible_local.ctlabs_frr.router.bgp.remote_ip }} remote-as {{ ansible_local.ctlabs_frr.router.bgp.remote_asn }}
{%   if ansible_local.ctlabs_frr.router.bgp.nets %}
  address-family ipv4 unicast
{%     for net in ansible_local.ctlabs_frr.router.bgp.nets %}
  network {{ net }}
{%     endfor %}
{%   endif %}
 exit-address-family
{% endif %}

{# OSPF -#}
{% if ansible_local.ctlabs_frr.router.ospf %}
router ospf
{%   for net in ansible_local.ctlabs_frr.router.ospf.nets %}
  network {{ net }} area 0
{%   endfor %}
{% endif %}
exit
