---

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_base/defaults/main.yml
# Description : main defaults file
# ------------------------------------------------------------------------------

ar_plugin_redhat: "{{ 'yum-plugin-artifact-registry' if ctg_os_version == '7' else 'dnf-plugin-artifact-registry' }}"

# role defaults
ctlabs_base:
  defaults:
    repos:
      redhat:
        - name: ar-plugin
          desc: Artifact Registry Plugin
          type: main
          url : "https://packages.cloud.google.com/yum/repos/{{ ar_plugin_redhat }}-stable"
          key : |-
            https://packages.cloud.google.com/yum/doc/yum-key.gpg
            https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
      debian:
    pkgs:
      redhat:
        - name: "{{ ar_plugin_redhat }}"
        - name: lvm2
        - name: tmux
        - name: vim
        - name: graphviz
        - name: epel-release
        - name: htop
        - name: ruby
        - name: irb
        - name: podman-docker
        - name: nc
        - name: perf
        - name: bpftrace
        - name: wireshark-cli
        - name: tcpdump
        - name: ipvsadm
        - name: qemu-img
        - name: cloud-utils-growpart
        - name: make
        - name: jq
        - name: python3-requests
      debian:
        - name : xfsprogs
        - name : apt-transport-artifact-registry
      gems:
        - name: webrick
        - name: rackup
        - name: sinatra
    config:
      gce_disk_prefix: /dev/disk/by-id/google-
      local_fact:
        template: ctlabs_base_disks.fact.j2
        file    : /etc/ansible/facts.d/ctlabs_base_disks.fact
      profiled:
        - template: bashrc_kali.sh.j2
          file    : /etc/profile.d/bashrc_kali.sh
        - template: bashrc_ctlabs.j2
          file    : /etc/profile.d/bashrc_ctlabs.sh
      tmux:
        template: tmux.conf.j2
        file    : /etc/tmux.conf
    sysconfig:
    service:
  os:
    - redhat7
    - redhat8
    - redhat9
    - centos7
    - centos8
    - centos9
    - debian11
    - debian12
  virtype:
    - kvm
    - vmware
