# ------------------------------------------------------------------------------
# File        : {{ ctlabs_sssd.defaults.config.krb5.file }}
# Template    : ctlabs_sssd/templates/{{ ctlabs_sssd.defaults.config.krb5.template }}
# Description : 
# ------------------------------------------------------------------------------


includedir /etc/krb5.conf.d/

[logging]
  default              = FILE:/var/log/krb5libs.log
  kdc                  = FILE:/var/log/krb5kdc.log
  admin_server         = FILE:/var/log/kadmind.log

[libdefaults]
  default_realm        = {{ ctlabs_sssd.defaults.config.dc.realm }}
  dns_lookup_realm     = false
  dns_lookup_kdc       = true
  ticket_lifetime      = 24h
  renew_lifetime       = 7d
  rdns                 = false
  forwardable          = true
  pkinit_anchors       = FILE:/etc/pki/tls/certs/ca-bundle.crt
  spake_preauth_groups = edwards25519
  udp_preference_limit = 0
{% if virt_type in ['kvm'] %}
  default_ccache_name  = KEYRING:persistent:%{uid}
{% endif %}
  #default_ccache_name  = FILE:/tmp/krb5cc_%{uid}


[realms]
  {{ ctlabs_sssd.defaults.config.dc.realm }} = {
    default_domain = {{ ctlabs_sssd.defaults.config.dc.domain }}
{% for host in ctlabs_sssd.defaults.config.dc.hosts %}
    kdc            = {{ host }}.{{ ctlabs_sssd.defaults.config.dc.domain }}
{% endfor %}
  }

[domain_realm]
  .{{ ctlabs_sssd.defaults.config.dc.domain }} = {{ ctlabs_sssd.defaults.config.dc.realm }}
   {{ ctlabs_sssd.defaults.config.dc.domain }} = {{ ctlabs_sssd.defaults.config.dc.realm }}

