# ------------------------------------------------------------------------------
# File        : sssd.conf
# Template    : ctlabs_sssd/templates/sssd-ad.conf.j2
# ------------------------------------------------------------------------------
{%- set tmp = [] -%}
{%- for host in ctlabs_sssd_ad_server -%}
{%-   set _ = tmp.append(host + '.' + ctlabs_sssd.defaults.config.dc.domain) -%}
{%- endfor -%}
{%- set ad_server = (tmp|join(', ')) %}


[domain/{{ ctlabs_sssd.defaults.config.dc.domain }}]
  access_provider                = ad
  auth_provider                  = ad
  id_provider                    = ad

  ldap_sasl_authid               = {{ ctlabs_sssd_computer_name }}@{{ ctlabs_sssd.defaults.config.dc.realm }}

  ad_server                      = {{ ad_server }}
  ad_domain                      = {{ ctlabs_sssd.defaults.config.dc.domain }}
  ad_hostname                    = {{ ansible_nodename }}
  dyndns_update                  = false

  krb5_realm                     = {{ ctlabs_sssd.defaults.config.dc.domain | upper }}
  krb5_store_password_if_offline = true

  realmd_tags                    = manages-system joined-with-adcli
  cache_credentials              = true
  entry_cache_timeout            = 14400
  cached_auth_timeout            = 600

  default_shell                  = /bin/bash
  ldap_id_mapping                = true
  fallback_homedir               = /home/%u
  #fallback_homedir               = /home/%u@%d

  ldap_user_extra_attrs          = altSecurityIdentities
  ldap_user_ssh_public_key       = altSecurityIdentities

  use_fully_qualified_names      = false
  enumerate                      = true

[sssd]
  domains                        = {{ ctlabs_sssd.defaults.config.dc.domain }}
  config_file_version            = 2
  services                       = nss, pam, ssh
  # default_domain_suffix        =

[pam]
  pam_verbosity                  = 2