---

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_xrdp/tasks/config.yml
# Description : configurations
# ------------------------------------------------------------------------------

- name: ctlabs_xrdp.tasks.config.startwm
  template:
    src  : "{{ ctlabs_xrdp.defaults.config.startwm.template }}"
    dest : "{{ ctlabs_xrdp.defaults.config.startwm.file     }}"

- name: ctlabs_xrdp.tasks.config.terminal-theme.download
  git:
    repo : "{{ ctlabs_xrdp.defaults.repos.dracula.url }}"
    dest : "{{ ctlabs_xrdp.defaults.repos.dracula.tmp }}"

- name: ctlabs_xrdp.tasks.config.terminal-theme.dir
  file:
    path: "{{ ctlabs_xrdp.defaults.repos.dracula.dir }}"
    state: directory

- name: ctlabs_xrdp.tasks.config.terminal-theme.copy
  copy:
    src  : "{{ ctlabs_xrdp.defaults.repos.dracula.tmp }}/{{ ctlabs_xrdp.defaults.repos.dracula.name }}"
    dest : "{{ ctlabs_xrdp.defaults.repos.dracula.dir }}/{{ ctlabs_xrdp.defaults.repos.dracula.name }}"
    remote_src: true

- name: ctlabs_xrdp.tasks.config.skeleton
  block:
    - name: ctlabs_xrdp.tasks.config.skeleton.dirs
      file:
        path  : "{{ item.dir }}"
        state : directory
      loop: "{{ ctlabs_xrdp.defaults.config.skeleton }}"

    - name: ctlabs_xrdp.tasks.config.skeleton.files
      template:
        src  : "{{ item.template }}"
        dest : "{{ item.dir + '/' + item.file }}"
      loop: "{{ ctlabs_xrdp.defaults.config.skeleton }}"

- name: ctlabs_xrdp.taske.service.group
  group:
    name   : "{{ ctlabs_xrdp.defaults.login.group }}"

- name: ctlabs_xrdp.tasks.service.user
  user:
    name     : "{{ ctlabs_xrdp.defaults.login.user  }}"
    group    : "{{ ctlabs_xrdp.defaults.login.group }}"
    password : "{{ ctlabs_xrdp.defaults.login.pass  }}"
    shell    : /bin/bash

- name: ctlabs_xrdp.tasks.service.groups.member
  user:
    name   : "{{ ctlabs_xrdp.defaults.login.user   }}"
    group  : "{{ ctlabs_xrdp.defaults.login.group  }}"
    groups : "{{ ctlabs_xrdp.defaults.login.groups }}"
