---

# ------------------------------------------------------------------------------
# File        : ctlabs-ansible/roles/ctlabs_xrdp/tasks/package.yml
# Description : packages
# ------------------------------------------------------------------------------

- name: ctlabs_xrdp.tasks.package.debian
  when: ctg_os_family == "debian"
  block:
    - name: ctlabs_xrdp.tasks.package.debian.install
      apt:
        name               : "{{ item.name }}"
        state              : present
        install_recommends : "{{ item.install_recommends | default(omit) }}"
      loop    : "{{ ctlabs_xrdp.defaults.pkgs[ctg_os_family] }}"
      register: result
      until   : result is success
