# ------------------------------------------------------------------------------
# File        : ctlabs_ansible/roles/ctlabs_guacamole/templates/guacd.conf.j2
# Description : guacd config file
# ------------------------------------------------------------------------------

[server]
  bind_host = 127.0.0.1
  bind_port = 4822
