<!--
  # ~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+
  # File        : ctlabs-ansible/roles/ctlabs_guacamole/templates/user-mapping.xml.j2
  # Description : main defaults file
  # ~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+
-->

<user-mapping>
  <authorize username="ctlabs" password="secret123!">

    <connection name="{{ ansible_nodename }}">
      <protocol>ssh</protocol>
      <param name="hostname">{{ ansible_nodename }}</param>
      <param name="port">22</param>
      <param name="username">root</param>
      <param name="font-size">12</param>
      <param name="color-scheme">
        foreground: rgb:ff/ff/ff;
        background: rgb:2e/07/24;
      </param>
    </connection>

    <connection name="dc1-vnc">
      <protocol>vnc</protocol>
      <param name="hostname">192.168.30.13</param>
      <param name="port">5900</param>
      <param name="ignore-cert">true</param>
      <param name="color-depth">24</param>
      <param name="width">1920</param>
      <param name="height">1200</param>
    </connection>
    <connection name="dc01">
      <protocol>rdp</protocol>
      <param name="hostname">192.168.30.14</param>
      <param name="port">3389</param>
      <param name="ignore-cert">true</param>
      <param name="color-depth">24</param>
      <param name="width">1920</param>
      <param name="height">1200</param>
    </connection>

    <connection name="dc2-vnc">
      <protocol>vnc</protocol>
      <param name="hostname">192.168.30.23</param>
      <param name="port">5900</param>
      <param name="ignore-cert">true</param>
      <param name="color-depth">24</param>
      <param name="width">1920</param>
      <param name="height">1200</param>
    </connection>
    <connection name="dc02">
      <protocol>rdp</protocol>
      <param name="hostname">192.168.30.24</param>
      <param name="port">3389</param>
      <param name="ignore-cert">true</param>
      <param name="color-depth">24</param>
      <param name="width">1920</param>
      <param name="height">1200</param>
    </connection>

  </authorize>
</user-mapping>