<!--
  # ~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+
  # File        : ctlabs-ansible/roles/ctlabs_guacamole/templates/user-mapping.xml.j2
  # Description : guacamole user-mapping.xml, driven by ctlabs_guacamole_users
  # ~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+~+
-->

<user-mapping>
{% for user in ctlabs_guacamole_users %}
  <authorize username="{{ user.username }}" password="{{ user.password }}">
{%   for conn in user.connections | default([]) %}
    <connection name="{{ conn.name }}">
      <protocol>{{ conn.protocol }}</protocol>
{%     for key, value in (conn.params | default({})).items() %}
      <param name="{{ key }}">{{ (value | lower) if (value is sameas true or value is sameas false) else value }}</param>
{%     endfor %}
    </connection>
{%   endfor %}
  </authorize>
{% endfor %}
</user-mapping>
