apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ ctlabs_kind_gateway_name | default('traefik-gateway') }}
  namespace: {{ ctlabs_kind_gateway_namespace | default('traefik') }}
spec:
  gatewayClassName: traefik
  listeners:
    - name: web
      port: 8000
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: websecure
      port: 8443
      protocol: HTTPS
      tls:
        mode: Terminate
        certificateRefs:
          - name: {{ ctlabs_kind_gateway_tls_secret | default('argocd-tls') }}
            namespace: argo
      allowedRoutes:
        namespaces:
          from: All
