kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: {{ ctlabs_kind_name }}
nodes:
{% if ctlabs_kind_plane == "single" %}
  - role: control-plane
{% if ctlabs_kind_ingress_type in ["ingress", "gateway_api"] %}
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
      - containerPort: 443
        hostPort: 443
{% endif %}
{% elif ctlabs_kind_plane == "multi" %}
  - role: control-plane
{% if ctlabs_kind_ingress_type in ["ingress", "gateway_api"] %}
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
      - containerPort: 443
        hostPort: 443
{% endif %}
{% for i in range(ctlabs_kind_nodes | int - 1) %}
  - role: worker
{% endfor %}
{% endif %}
