apiVersion: gateway.networking.k8s.io/v1
kind: ReferenceGrant
metadata:
  name: argocd-grant
  namespace: argo
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: traefik
  to:
    - group: ""
      kind: Secret
