apiVersion: v1
kind: Secret
metadata:
  name: {{ ctlabs_kind_routing_tls_secret | default('argocd-tls') }}
  namespace: argo
type: kubernetes.io/tls
data:
  tls.crt: "{{ ctlabs_kind_tls_crt }}"
  tls.key: "{{ ctlabs_kind_tls_key }}"
