# -----------------------------------------------------------------------------
# File: 
# -----------------------------------------------------------------------------

sys.adminRights$Boolean=false
sys.installationDir={{ ctlabs_burp.config.bindir }}
sys.languageId=en
sys.programmGroupDisabled$Boolean=false
sys.symlinkDir=/usr/bin