# ------------------------------------------------------------------------------
# Template    : ctlabs_ca/templates/ca.cnf2
# Description : openssl config CA-ctlabs.internal
# ------------------------------------------------------------------------------

[ req ]
default_bits       = {{ ctlabs_ca.defaults.config.ca.bits }}
distinguished_name = req_ca_ctlabs_internal
encrypt_key        = {{ ctlabs_ca.defaults.config.ca.encrypt_key }}
prompt             = no
x509_extensions    = v3_ca

[ req_ca_ctlabs_internal ]
CN                 = {{ ctlabs_ca.defaults.config.ca.name }}
C                  = CA
ST                 = Ontario
L                  = Toronto
O                  = oxdeca.com

[ v3_ca ]
basicConstraints   = CA:TRUE
