#
# openssl config server-cert
#

[ req ]
default_bits       = {{ ctlabs_ca.defaults.config.certs.bits }}
distinguished_name = req_server_cert
encrypt_key        = {{ ctlabs_ca.defaults.config.certs.encrypt_key }}
prompt             = no

[ req_server_cert ]
CN                 = {{ ansible_hostname }}.{{ ctlabs_ca_domain }}
C                  = CA
ST                 = Ontario
L                  = Toronto
O                  = oxdeca.com
