{#
 # File        : ctlabs-ansible/roles/ctlabs_ca/templates/facts.json.j2
 # Description : ctlabs_ca local facts template
#}
{% set _host_facts = ctlabs_fole_facts | default({}) %}
{% set _role_facts = play_setup(['ca'] | default({}) %}
{
  "domain" : "{{ _host_facts.domain | default(_role_facts.domain | default(CTLABS_DOMAIN)) }}"
}
