#
# openssl config server-cert
#

[ req ]
default_bits       = {{ ctlabs_ca.defaults.certs.server.bits }}
distinguished_name = req_server_cert
encrypt_key        = {{ ctlabs_ca.defaults.certs.server.encrypt_key }}
prompt             = no

[ req_server_cert ]
CN                 = {{ cn }}
C                  = CA
ST                 = Ontario
L                  = Toronto
O                  = CTLABS_CA